<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753996364916-lct0cs5q3f2p85b78lqfnheje0n9eqp7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753996364916-lct0cs5q3f2p85b78lqfnheje0n9eqp7</string>
	<key>API_KEY</key>
	<string>AIzaSyC6SQRURFC0ApTUq5iMJ3ZUGAEQpgEHx7c</string>
	<key>GCM_SENDER_ID</key>
	<string>753996364916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.locator</string>
	<key>PROJECT_ID</key>
	<string>locator-daad6</string>
	<key>STORAGE_BUCKET</key>
	<string>locator-daad6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753996364916:ios:37fe1a626c709c0d852521</string>
</dict>
</plist>